In [1]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [8]:
np.random.seed(101)

In [10]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['P','Q','R','S'])
df

          P         Q         R         S
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [11]:
df['P']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: P, dtype: float64

In [12]:
type(df['P'])

pandas.core.series.Series

In [13]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df.S  #One more method to get column

A   -1.159119
B    0.184502
C    0.329646
D    0.484752
E    1.996652
Name: S, dtype: float64

In [16]:
df[['P','R']]

          P         R
A  0.302665 -1.706086
B -0.134841  0.166905
C  0.807706  0.638787
D -0.497104 -0.943406
E -0.116773  0.238127

In [17]:
df['new'] = df['P'] + df['R']

In [18]:
df

          P         Q         R         S       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [21]:
df.drop('new', axis=1, inplace=True)  #axis=0 will pick up row

In [22]:
df

          P         Q         R         S
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [23]:
df.drop('E', axis=0, inplace=True)

In [24]:
df

          P         Q         R         S
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [25]:
df.shape

(4, 4)

In [26]:
#To get rows
df.loc['A']  #Using Labels

P    0.302665
Q    1.693723
R   -1.706086
S   -1.159119
Name: A, dtype: float64

In [27]:
df.iloc[2]  #Using Indexes

P    0.807706
Q    0.072960
R    0.638787
S    0.329646
Name: C, dtype: float64

In [29]:
df.loc['A','P']

0.3026654485851825

In [30]:
df.iloc[0,0]

0.3026654485851825

In [31]:
df.loc[['A','B'],['R','S']]

          R         S
A -1.706086 -1.159119
B  0.166905  0.184502

In [32]:
df[df > 0]

          P         Q         R         S
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752

In [33]:
df['P'] > 0

A     True
B    False
C     True
D    False
Name: P, dtype: bool

In [34]:
df[df['P']>0]

          P         Q         R         S
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [35]:
df[df['P']>0]['P']

A    0.302665
C    0.807706
Name: P, dtype: float64

In [36]:
df[df['P']>0][['P','R']]

          P         R
A  0.302665 -1.706086
C  0.807706  0.638787

In [39]:
df[(df['P']>0) & (df['R']>0)]     #Pandas use & for Logical AND

          P        Q         R         S
C  0.807706  0.07296  0.638787  0.329646

In [40]:
df[(df['P']>0) | (df['R']>0)] #Pandas use | for Logical OR

          P         Q         R         S
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646

In [41]:
df.reset_index()

  index         P         Q         R         S
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752

In [42]:
new_index = 'AB CD EF GH'.split()
new_index

['AB', 'CD', 'EF', 'GH']

In [43]:
df['States'] = new_index

In [44]:
df

          P         Q         R         S States
A  0.302665  1.693723 -1.706086 -1.159119     AB
B -0.134841  0.390528  0.166905  0.184502     CD
C  0.807706  0.072960  0.638787  0.329646     EF
D -0.497104 -0.754070 -0.943406  0.484752     GH

In [45]:
df.set_index('States')

               P         Q         R         S
States
AB      0.302665  1.693723 -1.706086 -1.159119
CD     -0.134841  0.390528  0.166905  0.184502
EF      0.807706  0.072960  0.638787  0.329646
GH     -0.497104 -0.754070 -0.943406  0.484752

In [46]:
#Multilevel Indexing

In [48]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [50]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [51]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1 -0.993263  0.196800
   2 -1.136645  0.000366
   3  1.025984 -0.156598
G2 1 -0.031579  0.649826
   2  2.154846 -0.610259
   3 -0.755325 -0.346419

In [52]:
df.loc['G1']

          A         B
1 -0.993263  0.196800
2 -1.136645  0.000366
3  1.025984 -0.156598

In [53]:
df.loc['G1'][1:3]

          A         B
2 -1.136645  0.000366
3  1.025984 -0.156598

In [54]:
df.index.names

FrozenList([None, None])

In [55]:
df.index.names = ['Groups','Nums']

In [56]:
df

                    A         B
Groups Nums
G1     1    -0.993263  0.196800
       2    -1.136645  0.000366
       3     1.025984 -0.156598
G2     1    -0.031579  0.649826
       2     2.154846 -0.610259
       3    -0.755325 -0.346419

In [65]:
df.loc['G2'][1:2]['B']   #OR

Nums
2   -0.610259
Name: B, dtype: float64

In [67]:
df.loc['G2'].loc[2].loc['B']

-0.6102588558227414

In [68]:
df.xs('G1')     #For MultiIndexing selecting

             A         B
Nums
1    -0.993263  0.196800
2    -1.136645  0.000366
3     1.025984 -0.156598

In [70]:
df.xs(1, level='Nums')

               A         B
Groups
G1     -0.993263  0.196800
G2     -0.031579  0.649826