In [2]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a','b','c','d']
data = [10,20,30,40]
arr = np.array(data)
d = {'a':10,'b':20,'c':30,'d':40}

In [4]:
pd.Series(data=data)

0    10
1    20
2    30
3    40
dtype: int64

In [6]:
pd.Series(data=data, index=labels) #Click Shift + Tab to get help

a    10
b    20
c    30
d    40
dtype: int64

In [7]:
pd.Series(arr)

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
pd.Series(d) #Automatically takes keys as index and values as columns

a    10
b    20
c    30
d    40
dtype: int64

In [9]:
ser = pd.Series([1,2,3,4,5],['USA','Italy','India','Japan','China'])
ser

USA      1
Italy    2
India    3
Japan    4
China    5
dtype: int64

In [10]:
ser['USA']

1

In [11]:
ser1 = pd.Series(data=labels)
ser1

0    a
1    b
2    c
3    d
dtype: object